@charset "utf-8"; 

/* sitemap CSS */

.body-container .info-wrap .site-map { width: 65%; margin: 0 auto; } 
.body-container .info-wrap .site-map .menu-list { border-top: 3px solid #000; border-bottom: 1px solid #000;} 
.body-container .info-wrap .site-map .menu-list > li { padding: 60px 0 60px 10px; border-bottom: 0.1px solid #cccccc; }
.body-container .info-wrap .site-map .menu-list > li .title { font-weight: bolder; font-size: 2.0rem; margin-right: 250px; float: left; }
.body-container .info-wrap .site-map .menu-list > li > .menu-sub-list > li { background: url(../../../img/sub/intro/dm.jpg) no-repeat left 15px; float: left; font-size: 1.7rem; width: 20%; }