doctype html
html(lang="en")
    head
        include  ../../template/script.pug
        link(rel='stylesheet' href='/views/css/sub/sub-common.css')
        link(rel='stylesheet' href='/views/css/sub/intro/sitemap.css')
    body
        .wrapper
            .header-container
                include ../../template/header.pug
            .banner-wrap
                .banner
                    .banner-bg
                        .banner-img
                        .banner-mask
                    .page-title
                        .breadcrumb
                            ul
                                li.home
                                    img(src="/views/img/common/breadcrumb_icon.svg" alt="breadcrumb")
                                li.arr
                                    img(src="/views/img/common/arrow_w.svg" alt="icon")
                                li 사이트맵
                        .title 
                            h3 사이트맵
            
            .body-container
                .info-wrap
                    .site-map
                        ul.menu-list
                            li
                                .title
                                    a(href='/intro/intro/introInfo.hs') 회사소개
                                ul.menu-sub-list
                                    li
                                        a(href='/intro/intro/introInfo.hs') 회사소개
                                    li
                                        a(href='/intro/history/historyInfo.hs') 연혁
                                    li
                                        a(href='/intro/map/mapInfo.hs') 찾아오시는 길
                            li
                                .title
                                    a(href='/') 임시 메뉴 1
                            li
                                .title
                                    a(href='/') 임시 메뉴 2
                            li
                                .title
                                    a(href='/portfolio/portfolio/portfolioList.hs') 시공실적
                                ul.menu-sub-list
                                    li
                                        a(href='/portfolio/portfolio/portfolioList.hs') 시공실적
                            li
                                .title
                                    a(href='/community/question/questionList.hs') 문의하기
                                ul.menu-sub-list
                                    li
                                        a(href='/community/question/questionList.hs') 시공문의 및 상담
                                        
            script(src="/public/js/app.js")

            include ../../template/footer.pug