@charset "utf-8";

/* 사이트 서브 페이지 공통 스타일 */

/* body-container */
.body-container { width: 100%; position: relative; margin-top: 120px; }
.body-container .info-wrap { min-height: calc(85vh - 120px); }

/* banner-wrap */
.banner-wrap { position: relative; min-width: 1200px; height: 350px; width: 100%; white-space: nowrap; overflow:hidden; }
.banner-wrap .banner { position: relative; display: inline-block; width: 100%; transition: transform .5s cubic-bezier(0.61, 0, 0.49, 0.8); margin-right: -2px; white-space: initial; }
.banner-wrap .banner .banner-bg { width:100%; height:400px; overflow: hidden; z-index: 10; }
.banner-wrap .banner .banner-bg .banner-img { background: url("../../img/sub/banner_bg.jpg") no-repeat center; width:100%; height:100%; background-position: 50%; background-size: cover !important; }
.banner-wrap .banner .banner-bg .banner-mask { position: absolute; top:0; left:0; width:100%; height: 400px; background: url(../../img/sub/banner_mask.png) no-repeat center; background-size: cover !important;}

/* page-title */
.banner-wrap .banner .page-title { width:100%; text-align:center; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.banner-wrap .banner .page-title h3 { font-size: 3.3rem; letter-spacing: -0.025em; color: #fff; font-weight: 500; }
.banner-wrap .banner .page-title .breadcrumb { display: inline; }
.banner-wrap .banner .page-title .breadcrumb ul { text-align: center; margin-bottom: 10px; }
.banner-wrap .banner .page-title .breadcrumb ul li { display: inline-block; color:#fff; font-size: 1.4rem; font-weight: 300; }
.banner-wrap .banner .page-title .breadcrumb ul li.arr { margin: 0 15px;}
.banner-wrap .banner .page-title .breadcrumb ul li.arr img { width: 9px; height:13px; position: relative; top:4px; -webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);transform: rotate(-90deg);}
.banner-wrap .banner .page-title .breadcrumb ul li.home img { width: 14px; height:14px; position: relative; top:2px; }
.banner-wrap .banner .page-title .title > h3 { font-size: 3.3rem; letter-spacing: -0.025em; color: #fff; font-weight: 500; }
