.footer-container
    .footer-wrap.cont-width
        ul
            li
                a(href='/terms/personalTerm.hs') COMPANY
            li
                a(href='/terms/serviceTerm.hs') PORTFOLIO
            li
                a(href='/terms/serviceTerm.hs') Q&A
            li
                a(href='/terms/serviceTerm.hs') NOTICE
            li
                a(href='/terms/serviceTerm.hs') CONTACT US
        p.info
            b 씨에이치 주식회사 
        p.info 우)10828 경기도 파주시 법원읍 자운서원로 149-36
        br 
        p.info.tel TEL : 031-935-4744 / 010-3191-2725 
        p.info.fax FAX : 031-935-4743 
        p.info.email E-mail : chinc2725@daum.net 
        p.copy Copyright(c) 2021 CH CO. All rights Reserved. 
