
.nav-wrap.clearfix.cont-width
    .logo-area
        a(href='/')
            img(src='/views/img/common/logo_white_small.png' alt='로고')
    ul.gnb-area
        li
            a(href='/intro/intro/introInfo.hs') 서비스 소개
            ul
                li
                    a(href='/intro/intro/introInfo.hs') 회사소개
                li
                    a(href='/intro/history/historyInfo.hs') 연혁
                li
                    a(href='/intro/map/mapInfo.hs') 찾아오시는 길
        li
            a(href='/') 임시 메뉴 1
        li
            a(href='/') 임시 메뉴 2
        li
            a(href='/portfolio/portfolio/portfolioList.hs') 추천받기
            ul
                li
                    a(href='/portfolio/portfolio/portfolioList.hs') 시공실적
        li
            a(href='/community/question/questionList.hs') 문의하기
            ul
                li
                    a(href='/community/question/questionList.hs') 시공문의 및 상담
    .button-area
        ul
            li
                a(href='/') HOME
            li
                a(href='/community/question/questionList.hs') CONTACT US
            li
                a(href='/intro/sitemap/sitemapInfo.hs') SITEMAP
    .call-area
        span 전화문의
        span.call-num 010-7190-5608

script(src="/public/js/header.js")