title CH Company
meta(http-equiv='Content-type' content='text/html;charset=utf-8')
meta(http-equiv='Content-Style-Type' content='text/css;')
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')

meta(name='viewport' content='target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
meta(name='googlebot' content='index,follow,snippet,archive')
meta(name='robots' content='index,follow')
meta(name='theme-color' content='#2f6ed5')
meta(name='title' content='CH 주식회사')
meta(name='Subject' content='CH 주식회사 공식 사이트입니다.')
meta(name='author' content='CH 주식회사')
meta(name='Publisher' content='CH 주식회사')
meta(name='description' content='CH 주식회사 공식 사이트입니다.')
meta(name='keywords' content='CH, 크린테크')

link(rel='stylesheet' href='/views/css/common/notosanskr.css')
link(rel='stylesheet' href='/views/css/common/reset.css')
link(rel='stylesheet' href='/views/css/common/common.css')
link(rel='stylesheet' href='/views/css/common/component.css')
link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous')

link(rel='shortcut icon' href='/views/img/common/favicon.ico')